.cr-list__status-cr-background-color-table {
    
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
    color: black;

    &-draft {
        background-color: rgb(2, 168, 181);
        color: whitesmoke;
        // color: whitesmoke;
    }

    &-rfa {
        background-color: rgb(56, 97, 140);
        color: whitesmoke;
        // color: whitesmoke;
    }

    &-rfc {
        background-color: rgb(41, 156, 219);
        color: whitesmoke;
    }

    &-sfa {
        background-color: rgb(200, 119, 214);
        color: whitesmoke;
    }

    &-scheduled {
        background-color: rgb(247, 184, 75);
    }

    &-completed {
        background-color: rgb(53, 119, 241);
        color: whitesmoke;
    }

    &-closed {
        background-color: #dff0fa;
    }

}

.sort-cr-column-desc::before {
    color: #ed6368;
}

.sort-cr-column-asc::after {
    color: #ed6368;
}

.table .sort{
    &::after{
        font-size: 1rem;
        top: 7px;
    }

    &::before{
        font-size: 1rem;
        top: 15px;
    }
    
}

.table-cr-list--cr-list-page > tr > th {
    // min-width: 150px;
}

.pagination-total--pagination-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & ul {
        margin-bottom: 5px;
    }

    & .total-item--pagination-table {
        color: #405189;
        font-size: 12px;
    }
}