.text-align-header-centre thead tr th{
  text-align: center;
}
.bg-danger-soft{
  background-color: #b85fb0 !important;
}
.profile-dashboard{
  .profile-nav{
    .nav-item{
      a{
        &.active{
          &.nav-link{
            color: #ffffff !important;
            background-color: transparent !important;
          }
        }

        &.nav-link{
          background-color: #dedede !important;
          color: #000000 !important;
        }
      }
    }
  }
}

.profile-wid-bg{
  height: 300px;
}

.logo--login-page {
  width: 400px;
}

@media (max-width: 480px) {
  .logo--login-page {
    width: 275px;
  }
}

@media (max-width: 1300px) {
  .logo--login-page {
    width: 325px;
  }
}

@media only screen and (max-width: 1660px) {
  .dashboard-charts-widget {
    display:none !important;
  }
}
@media only screen and (min-width: 1660px) {
  .dashboard-icon-widget {
    display:none !important;
  }
}

.fc.fc-media-screen.fc-direction-ltr.fc-theme-bootstrap.fc-liquid-hack {
  height: 100%;
}

.table-row--filter-cr {
  background-color: white;

  border-bottom: 1px solid rgb(64, 81, 137);

  & th {
    vertical-align: middle;

    & > input {
      border-radius: 0;
    }

  }
}

.nav-tabs-custom .nav-item .nav-link.active {
  // color: #405189;
  // color: #FF6D60;
  color: #FFFFFF;
  background: #ff6d60;
  border-radius: 20px 20px 0px 0px;
  transition: none;
}

.nav-tabs-custom .nav-item .nav-link::after{
  // background: #405189;
  background: #FF6D60;
  transition: none;
}


.nav-link.menu-link > span {
  color: #1F1717;
  // font-weight: 800;
}

.auth-page-wrapper--chairman {
  // background: linear-gradient(76.81deg,#B90024 15.71%,#FF0025 68.97%,#FD195E 94.61%);
  height: 100vh;
  padding: 0px !important;
}

// .row--auth-page-wrapper{
//   margin-right: 0 !important;
// }

.col-side-login-page--auth-page {
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.login-form-wrapper--auth-page {
  background: linear-gradient(76.81deg,#B90024 15.71%,#FF0025 68.97%,#FD195E 94.61%);
  height: 100vh;
}

.col-footer-title--auth-page-footer {
  padding-left: 0px !important;
}

.side-login-logo--auth-page {
  width: 400px;
  padding: 5px;
  margin-left: 40px;
}

.copyright-year--auth-page-footer {
  margin-left: 1.75rem !important;
  // color : #B90024 !important;
  color: #ff4646 !important;
}

.chairman-text--auth-page-footer {
  color : #FFFFFF !important;
}

.btn-chairman--auth-page {
  background-color : #FF0025;
}

@media (min-width: 480px) {
  .row--auth-page-wrapper{
    margin-right: 0 !important;
  }
  .auth-page-content{
    padding-bottom: 30px !important;
  }
}

@media (max-width: 480px) {
  .col-side-login-page--auth-page {
    display: none;
  }
  .copyright-year--auth-page-footer {
    margin-left: 1.75rem !important;
    color : #B90024 !important;
  }
  
  .chairman-text--auth-page-footer {
    color : #FFFFFF !important;
  }
}

// .cover-photo-profile-bg--dashboard-page {
//   display: block;
//   height: 100px;
// }

// .cover-photo-profile-bg--dashboard-page > img{
//   max-height: 300px;
//   width: 100%;
// }

// profile

.profile-wid-bg-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 300px;
  @media (max-width: 575.98px) {
      height: 445px;
  }

  &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #cbcbcb;
      opacity: 0.4;

  }

  .profile-wid-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.profile-wid-bg-db-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 300px;

  .profile-wid-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.header-login-time--header-dropdown-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #878a99;
  padding: 1.2rem;

  & > .date-time-login-time--header {
    font-size: 14px;
  }

  & > .title-login-time--header {
    font-size: 12px;
  }
}

// Calender - Dashboard Main
.dashboard-main-calender {
  .fc.fc-media-screen.fc-direction-ltr.fc-theme-bootstrap {
    height: 100%;
  }
}


.fc .fc-list-day-cushion, .fc .fc-list-table td {
  text-align: left;
}

// CR Detail Tabs
.cr-detail-view {
  .fw-semibold.nav-link {
    white-space: nowrap;
  }  

  margin-bottom: -20px;
}

.side-logo--auth-page {
  background: rgba(247, 238, 228, 0.3);
  border-radius: 10px;
  box-shadow: rgba(247, 238, 228, 0.3) 0px 0px 75px 75px;
}

.card-login--auth-page {
  margin-top : 125px;

  @media (max-width: 768px) {
    margin-top: 75px;
  }
}

.logo-company--card-auth-page img{
  width: 125px;
}

.logo-company--card-auth-page {

  @media (min-width: 768px) {
    display: none;
  }

}

#page-topbar {
  // background: linear-gradient(90deg, rgba(64,81,137,1) 60%, rgba(53,119,241,1) 100%);
  background: transparent;
  border-bottom: 0px !important;
}

.app-menu.navbar-menu {
  // background: linear-gradient(90deg, rgba(64,81,137,1) 60%, rgba(53,119,241,1) 100%);
  background: transparent;

  @media (max-width: 1024px) {
    background: linear-gradient(90deg, rgba(64,81,137,1) 60%, rgba(53,119,241,1) 100%);
  }

  // .scrolled {
  //   background: linear-gradient(90deg, rgba(64,81,137,1) 60%, rgba(53,119,241,1) 100%);
  //   transition: background-color 200ms linear;
  // }

  .nav-link.menu-link {
    color: #ffffff !important;

    span {
      color: #ffffff !important;
    }
  }
}

.pending-widget-dashboard--dashboard-page {
  border: 0px;
  background: rgb(83, 99, 150);
  border-bottom-right-radius: 75px;
}

// .apexcharts-radialbar .apexcharts-datalabels-group text {
//   fill: white;
// }


.text-purple {
  --vz-text-opacity: 1;
  color: #7a2d80 !important;
}

.bg-purple-subtle {
  background-color: #e2bbf7 !important;
}

.fc-daygrid-event-harness .fc-daygrid-event.bg-purple-subtle .fc-event-title, .fc-daygrid-event-harness .fc-daygrid-event.bg-purple-subtle .fc-event-main {
  color: #7a2d80 !important;
}

.page-title-box h4, .page-title-box .h4 {
  font-weight: 700;
  font-size: 15px !important;
  text-transform: uppercase;
  color: #fff;
}

.breadcrumb-item > a {
  color: #ffffff;
}

.breadcrumb-item.active {
  color: #fff !important;
}

.topbar-shadow {
  background: linear-gradient(90deg, rgba(64,81,137,1) 60%, rgba(53,119,241,1) 100%) !important;
  padding-bottom: 10px;
}

.topbar-user-icon {
  display: none ;
}

.row-tab-menu-section--approval-page {
  margin-left: 20px;
  margin-right: 20px;
}